.outer {
    background: #0084c5;
    background: -moz-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #0084c5), color-stop(36%, #0489c3), color-stop(66%, #30cabf), color-stop(100%, #2fbcb2));
    background: -webkit-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
    background: -o-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
    background: -ms-linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
    background: linear-gradient(45deg, #0084c5 0, #0489c3 36%, #30cabf 66%, #2fbcb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084c5', endColorstr='#2fbcb2', GradientType=1);
    min-height: 100vh;
}
.inner {
    padding-top: 40px;
}
html, body {
    margin: 0;
    padding: 0;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    height: 100vh;
}
h1 {
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 46px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 52px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0) !important;
}
.download-button {
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    align-items: flex-start;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 21.2800006866455px;
    margin: 0 auto;
    margin-top: 30px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 10px;
    padding-left: 66px;
    padding-right: 46px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0) !important;
    text-transform: uppercase;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: background;
    transition-timing-function: ease-out;
    vertical-align: middle;
    word-spacing: 0px;
    writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    width: 90%;
    max-width: 415px;
}
.download-button:hover {
    background: #fff;
    color: #0489c3;
    -webkit-transition: background ease-out 500ms;
    -moz-transition: background ease-out 500ms;
    -o-transition: background ease-out 500ms;
    transition: background ease-out 500ms;
}
.download-button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    outline: 0;
}

i.sprite-icon-download-btn {
    float: left;
    display: inline-block;
    width: 14px;
    margin-left: -28px;
    padding-right: 14px;
    height: 18px;
    background-position: 0 -250px;
}
i[class*="sprite-icon-"] {
    background-image: url(https://www.dartlang.org/imgs/dart-sprite.png);
    display: block;
}
p, .disclaimer {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 19px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #FFF;
}
.current-version {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: normal;
    line-height: 15.7142858505249px;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-left: 12px;
    text-align: center;
    text-transform: uppercase;
}
.disclaimer {
    font-size: 12px;
}
.disclaimer a {
    color: #222;
}
.button-wrapper {
    display: block;
    text-align: center;
}
::selection {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 150, 194);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}
::-moz-selection {
    background-color: rgb(255, 255, 255);
    color: rgb(13, 150, 194);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.dev {
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(255, 255, 255, 0.75);
}
